body{
    background-color: rgb(20, 20, 20);
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    color: whitesmoke;
    font-family:'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    background-color: #990000;
    border-color: whitesmoke;
    border-width: 8px;
    border-style:double;
    padding: 5px;
    margin: -5px;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: lighter;
    font-size: x-large;
    font-family:'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    border-width: 8px;
    border-style: double;
    border-color:rgb(20, 20, 20);
    background-color: #990000;
}

a:hover{
    border-color: whitesmoke;
}

.navigator{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

h1{
    font-family:'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: whitesmoke;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: whitesmoke;
    font-weight: lighter;
    font-size: 50px;
    font-family:'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

p{
    color: whitesmoke;
    font-weight: lighter;
    font-family:'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    text-align: center;
}

.maintext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#joinbutton{
    background-color: #990000;
    border-style: double;
}

h3{
    color: #990000;
    font-weight: lighter;
    font-family:'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

#footertitle{
    color: #990000;
}

#erik{
    color: #990000;
}

h4{
    color: #990000;
    font-weight: lighter;
    font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-color: #990000;
    border-width: 4px;
    border-style: solid;
}

.contacts{
    display: flex;
    justify-content: space-evenly;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
}

li{
    font-family: 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    font-weight: 100;
    font-size: large;
}

.quote h1{
    text-decoration: underline;
}